type: "SNIPPET_NOTE"
folder: "3bc2e5294a171f32f506"
title: "Todo Learn"
description: "Todo Learn"
snippets: [
  {
    name: "todo.md"
    mode: "GitHub Flavored Markdown"
    content: '''
      ## Todo stuff to learn
      
      - [ ] Headless Drupal/WP
      - [ ] strapi.io
      - [ ] RxJS
      - [ ] D3
      - [ ] FP (Ramda?)
      - [ ] idreamofaxioms
      - [ ] WP
      - [ ] Gatsby JS
      - [ ] Hugo
      - [ ] SVG and animations
      - [ ] Sass more complex
      - [ ] Make mixins library
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-08T13:59:21.384Z"
updatedAt: "2017-11-08T14:03:47.808Z"
