type: "SNIPPET_NOTE"
folder: "3bc2e5294a171f32f506"
title: "Todo Learn"
description: "Todo Learn"
snippets: [
  {
    name: "todo.md"
    mode: "GitHub Flavored Markdown"
    content: '''
      ## Todo stuff to learn
      
      - Headless Drupal/WP
        - [ ] In progress
        - [ ] Done
      - strapi.io
        - [ ] In progress
        - [ ] Done
      - RxJS
        - [x] In progress
        - [ ] Done
      - D3
        - [ ] In progress
        - [ ] Done
      - FP (Ramda?)
        - [ ] In progress
        - [ ] Done
      - idreamofaxioms
        - [ ] In progress
        - [ ] Done
      - WP
        - [ ] In progress
        - [ ] Done
      - Gatsby JS
        - [ ] In progress
        - [ ] Done
      - Hugo
        - [ ] In progress
        - [ ] Done
      - SVG and animations
        - [x] In progress
        - [ ] Done
      - Sass more complex
        - [ ] In progress
        - [ ] Done
      - Make mixins library
        - [ ] In progress
        - [ ] Done
      - Post css and native css variables
        - [ ] In progress
        - [ ] Done
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-08T13:59:21.384Z"
updatedAt: "2017-11-09T00:10:45.099Z"
