type: "SNIPPET_NOTE"
folder: "3bc2e5294a171f32f506"
title: "Todo Work"
description: "Todo Work"
snippets: [
  {
    name: "todowork.md"
    mode: "GitHub Flavored Markdown"
    content: '''
      ## Todo Work
      
      1. Download Boostnote
      2. Clone Notes repo
      3. Decide and download window manager
      4. Brew install fzf, ag, fd
      5. Download Todoist
      6. Fix Wakatime integrate     vim/vscode/bitbucket/Chrome/browsers
      7. https://github.com/trevordmiller/shell-scripts/
      8. 
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-16T18:22:54.313Z"
updatedAt: "2017-11-16T19:34:48.221Z"
